<h2 class="centrado">PRUEBAS DE CONCEPTO CON HIGHCHARTS</h2>

<ul>
  <li>
    {{#link-to "follow-up"}}Gráficas para Follow-up{{/link-to}}<
  </li>
  <li>
    {{#link-to "advisory"}}Gráficas para Advisory{{/link-to}}<
  </li>
</ul>